<%- include('partials/header'); -%>

<header>
  <div class="classBorad">
    <img src="/cartoonmexicanhat.png" alt="">
  </div>
  <div class="headings">
    <h2>Grupo Seis Mexican Cantina</h2>
    <a href="/mainMenu" class="btn">View Menu</a>
  </div>
</header>

<%- include('partials/footer'); -%>