<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/BeefBlackBeanNachos.jpg" alt="Shredded Beef and Black Bean Nachos icon">
    <h4>Shredded Beef and Black Bean Nachos</h4>
    <p>Shredded Beef and Black Bean</p>
  </li>
  <li class="recipe">
    <img src="/BeefTaquitos.jpg" alt="Beef Taquitos icon">
    <h4>Beef Taquitos</h4>
    <p>Shredded Beef</p>
  </li>
  <li class="recipe">
    <img src="/BlackBeanCornSopes.jpg" alt="Black Bean and Corn Sopes icon">
    <h4>Black Bean and Corn Sopes</h4>
    <p>Black Bean, Corn</p>
  </li>
  <li class="recipe">
    <img src="/Caldo_de_Camaron.jpg" alt="Caldo de Camaron icon">
    <h4>Caldo de Camaron</h4>
    <p>Shrimp, corn</p>
  </li>
  <li class="recipe">
    <img src="/Chicken_Burrito.jpg" alt="Chicken Burrito icon">
    <h4>Chicken Burrito</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/GrilledPineapplePorkBurrito.jpg" alt="Grilled Pineapple and Pork Burrito icon">
    <h4>Grilled Pineapple and Pork Burrito/h4>
    <p>Grilled Pineapple, Pork</p>
  </li>
  <li class="recipe">
    <img src="/MangoCatfishTaco.jpg" alt="Mango Catfish Tacos icon">
    <h4>Mango Catfish Tacos</h4>
    <p>Mango, Black Beans, Catfish</p>
  </li>
  <li class="recipe">
    <img src="/MexicanStreetCorn.jpg" alt="Mexican Street Corn icon">
    <h4>Mexican Street Corn</h4>
    <p>Corn, Cilantro, Mayo, Lime juice, </p>
  </li>
  <li class="recipe">
    <img src="/BlackBeanCornSopes.jpg" alt="Black Bean and Corn Sopes icon">
    <h4>Black Bean and Corn Sopes</h4>
    <p>Black Bean, Corn</p>
  </li>
  <li class="recipe">
    <img src="/NachoChipPlatter.jpg" alt="Nacho Chip Platter icon">
    <h4>Nacho Chip Platter</h4>
    <p>Shrimp, corn</p>
  </li>
  <li class="recipe">
    <img src="/Quesadilla_Advocado.jpg" alt="Quesadilla and Advocado platter icon">
    <h4>Quesadilla and Advocado platter</h4>
    <p>Mexican spiced meat for your choice with advocado</p>
  </li>
  <li class="recipe">
    <img src="/ShreddedBeefChili.jpg" alt="Beef Chili icon">
    <h4>Beef Chili</h4>
    <p>Shredded Beef, Corn, Black Beans, Mexican seasonings</p>
  </li>
  <li class="recipe">
    <img src="/Tacos_Pastor.jpg" alt="Tacos Pastor icon">
    <h4>Tacos Pastor</h4>
    <p>Pork, Pineapple, Mexican sea</p>
  </li>
  <li class="recipe">
    <img src="/shrimpcocktail.jpg" alt="shrimp cocktail icon">
    <h4>Coctel de Camarones estilo Mexicano</h4>
    <p>Shrimp, Cucumber, Onion, Tomatoes, Jalapeno, Mexican Seasonings</p>
  </li>
  <li class="recipe">
    <img src="/SteakStreetTacos.jpg" alt="Beef Chili icon">
    <h4>Steak Street Tacos</h4>
    <p>Sliced Steal, Black Beans, Cilantro, Mexican seasonings</p>
  </li>
</ul>

<%- include('partials/footer'); -%>