<%- include('partials/header'); -%>

<div class="container">
  <div class="menu">
      <h2 class="menu-group-heading">
          Appetizer           
      </h2>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="/NachoChipPlatter.jpg" alt="Nacho Chip Platter icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Nacho Chip Platter</span>
              <span class="menu-item-price">12.90</span>
            </h3>
            <p class="menu-item-description">
              Tortilla chips, Pico de Gallo, Creame fresh, Avocado Salsa
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/BeefTaquitos.jpg" alt="Beef Taquitos icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Beef Taquitos</span>
              <span class="menu-item-price">12.90</span>
            </h3>
            <p class="menu-item-description">
              Tortillas filled with shredded beef, shredded cheese, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/BlackBeanCornSopes.jpg" alt="Black Bean and Corn Sopes icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Black Bean and Corn Sopes</span>
              <span class="menu-item-price">12.90</span>
            </h3>
            <p class="menu-item-description">
              Sopes filled with black bean, corn, grated cheese, red onions, cilantro, and mexican seasonings.
            </p>
          </div>
        </div>
        
        <div class="menu-item">
          <img class="menu-item-image" src="/shrimpcocktail.jpg" alt="shrimp cocktail icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Coctel de Camarones estilo Mexicano</span>
              <span class="menu-item-price">19.90</span>
            </h3>
            <p class="menu-item-description">
              Shrimp, cucumber, onions, tomatoes, jalapenos, cilantro, and mexican seasonings
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/BeefBlackBeanNachos.jpg" alt="Shredded Beef and Black Bean Nachos icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Shredded Beef and Black Bean Nachos</span>
              <span class="menu-item-price">15.90</span>
            </h3>
            <p class="menu-item-description">
              Shredded beef, black beans, shredded cheese, onions, tomatoes, jalapeno, cilantro, and mexican seasonings
            </p>
          </div>
        </div>
      </div>
  </div>
</div>



<div class="container">
  <div class="menu">
      <h2 class="menu-group-heading">
          Entrée           
      </h2>
      <h5>All entrées are served with a side of refried beans and spanish rice.</h5>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="/BeefBlackBeanNachos.jpg" alt="Shredded Beef and Black Bean Nachos icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Shredded Beef and Black Bean Nachos platter</span>
              <span class="menu-item-price">19.90</span>
            </h3>
            <p class="menu-item-description">
              Shredded beef, black beans, shredded cheese, onions, tomatoes, jalapeno, cilantro, and mexican seasonings
            </p>
          </div>
        </div>
        
        <div class="menu-item">
          <img class="menu-item-image" src="/Quesadilla_Advocado.jpg" alt="Quesadilla and Advocado platter icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Quesadilla and Advocado platter</span>
              <span class="menu-item-price">14.90</span>
            </h3>
            <p class="menu-item-description">
              Mexican spiced meat of your choice (steak, chicken, pork, ground beef, shrimp (+$2)), shredded cheese and a sliced advocado
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/BlackBeanCornSopes.jpg" alt="Black Bean and Corn Sopes icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Black Bean and Corn Sopes platter</span>
              <span class="menu-item-price">16.90</span>
            </h3>
            <p class="menu-item-description">
              Sopes filled with black bean, corn, grated cheese, red onions, cilantro, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/Chicken_Burrito.jpg" alt="Chicken Burrito icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Chicken Burrito</span>
              <span class="menu-item-price">12.90</span>
            </h3>
            <p class="menu-item-description">
              Tortilla stuffed with chicken, refried beans, rice, corn, cheese, onions, and mexican seasonings.
            </p>
          </div>
        </div>
        
        <div class="menu-item">
          <img class="menu-item-image" src="/GrilledPineapplePorkBurrito.jpg" alt="Grilled Pineapple and Pork Burrito icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Grilled Pineapple and Pork Burrito</span>
              <span class="menu-item-price">12.90</span>
            </h3>
            <p class="menu-item-description">
              Tortilla stuffed with grilled pineapple, smoked pulled pork, rice. beans, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/MangoCatfishTaco.jpg" alt="Mango Catfish Tacos icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Mango Catfish Tacos</span>
              <span class="menu-item-price">14.90</span>
            </h3>
            <p class="menu-item-description">
              Corn tortilla shells with mango, black beans, catfish, red cabbage, raddish, cilantro, lime jucie and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/ShreddedBeefChili.jpg" alt="Beef Chili icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Beef Chili</span>
              <span class="menu-item-price">11.90</span>
            </h3>
            <p class="menu-item-description">
              Shredded beef, corn, black beans, corn, onions, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/BeefTaquitos.jpg" alt="Beef Taquitos icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Beef Taquitos platter</span>
              <span class="menu-item-price">16.90</span>
            </h3>
            <p class="menu-item-description">
              Tortillas filled with shredded beef, shredded cheese, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/Tacos_Pastor.jpg" alt="Tacos Pastor icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Tacos Pastor</span>
              <span class="menu-item-price">13.90</span>
            </h3>
            <p class="menu-item-description">
              Corn tortilla shells with pork, pineapple, salsa verde, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/SteakStreetTacos.jpg" alt="steak street tacos icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Steak Street Tacos</span>
              <span class="menu-item-price">15.90</span>
            </h3>
            <p class="menu-item-description">
              Corn tortilla shells with sliced steak, black beans, cilantro, and mexican seasonings.
            </p>
          </div>
        </div> 

      </div>
  </div>
</div>


<div class="container">
  <div class="menu">
      <h2 class="menu-group-heading">
          Sides           
      </h2>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="/Caldo_de_Camaron.jpg" alt="Caldo de Camaron icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Caldo de Camaron</span>
              <span class="menu-item-price">7.90</span>
            </h3>
            <p class="menu-item-description">
              Shrimp, corn, potatoes, carrots, and seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/MexicanStreetCorn.jpg" alt="Mexican Street Corn icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Mexican Street Corn</span>
              <span class="menu-item-price">5.90</span>
            </h3>
            <p class="menu-item-description">
              Corn, cilantro, lime juice, sour cream, and cotija cheese.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/refriedbeans.jpg" alt="Refried Beans icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Refried Beans </span>
              <span class="menu-item-price">3.90</span>
            </h3>
            <p class="menu-item-description">
              Pinto beans, garlic, onions, and mexican seasonings.
            </p>
          </div>
        </div> 
        
        <div class="menu-item">
          <img class="menu-item-image" src="/spanishrice.jpg" alt="Spanish Rice icon">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Spanish Rice</span>
              <span class="menu-item-price">3.90</span>
            </h3>
            <p class="menu-item-description">
              Rice, tomatoe sauce, cilantro, and mexican seasonings.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>


<%- include('partials/footer'); -%>